<!DOCTYPE html>

<html lang="en" class="bg-gradient-to-r from-indigo-600 to-blue-400 antialiased w-screen h-full">
  <head>
    <title>My Smol URL - Shorten your URL</title>
    <%= render "layouts/meta" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= render "layouts/favicon" %>
  </head>

  <body class="h-full">
    <%= yield %>
    <%= yield :tail %>
  </body>
</html>
